# Action1：求2+4+6+8+...+100的求和，用Python该如何写

In [42]:
sum=0
for i in range(2,102,2):
    sum+=i
print(sum)

2550

# Action2: 统计全班的成绩

统计在语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。

In [89]:
import pandas as pd
scoreTable=pd.read_csv('score.csv')
scoreTable

   姓名  语文  数学  英语
0  张飞  68  65  30
1  关羽  95  76  98
2  刘备  98  86  88
3  典韦  90  88  77
4  许褚  80  90  90

In [90]:
scoreTable.set_index('姓名',inplace=True)

In [91]:
scoreTable

    语文  数学  英语
姓名
张飞  68  65  30
关羽  95  76  98
刘备  98  86  88
典韦  90  88  77
许褚  80  90  90

In [92]:
scoreTable.describe().loc[['mean','min','max','std'],].append(scoreTable.var().rename('var'))

              语文          数学          英语
mean   86.200000   81.000000   76.600000
min    68.000000   65.000000   30.000000
max    98.000000   90.000000   98.000000
std    12.255611   10.440307   27.107195
var   150.200000  109.000000  734.800000

然后把这些人的总成绩排序，得出名次进行成绩输出

In [93]:
scoreTable.sum(axis=1).sort_values(ascending=False).reset_index()

   姓名    0
0  刘备  272
1  关羽  269
2  许褚  260
3  典韦  255
4  张飞  163

# Action3: 对汽车质量数据进行统计

数据集：car_complain.csv
600条汽车质量投诉
Step1，数据加载
Step2，数据预处理
拆分problem类型 => 多个字段
Step3，数据统计
对数据进行探索：品牌投诉总数，车型投诉总数
哪个品牌的平均车型投诉最多

In [88]:
#加载数据
import pandas as pd
result = pd.read_csv('car_complain.csv')

In [89]:
#将抱怨列按照逗号打散
result=result.drop('problem', 1).join(result['problem'].str.split(',',expand=True))

In [90]:
#采用逆透视的方法，把二维数据一维化
t1=pd.melt(result,id_vars=['id','brand','car_model','type','desc','datetime','status']).drop('variable', 1)
#这里进行了一个奇怪的保存，再读入。因为直接对t1去除空格，会导致t1里同时存在''及None，
#None不会被删除。发现保存后读取能解决这个问题
t1.to_csv('test.csv',encoding='gbk')
t2=pd.read_csv('test.csv',encoding='gbk')
t2.dropna(axis=0, how='any',inplace=True)

In [91]:
#投诉计数函数，传入需要分组的列表，比如['brand','car_model'],最后输出投诉计数和投诉内容总数
def claimCount(by):
    #品牌投诉计数
    s1=t2.groupby(by)['id'].nunique().sort_values(ascending=False).rename('投诉计数')
    #品牌投诉总数
    s2=t2.groupby(by)['id'].count().sort_values(ascending=False).rename('投诉内容计数')
    return pd.DataFrame([s1,s2]).T

In [92]:
claimCount(['brand'])

           投诉计数  投诉内容计数
吉利汽车         96     192
一汽马自达        95     193
一汽-大众        52      77
上汽大众         36      57
一汽-大众奥迪      19      32
北京现代         18      40
广汽丰田         17      24
东风日产         16      30
上汽集团         15      25
奇瑞汽车         14      25
东风标致         13      20
众泰汽车         13      25
一汽丰田         12      19
广汽本田         12      12
上汽斯柯达        11      22
上汽通用五菱       11      16
长城汽车         11      19
东风本田          7       8
一汽奔腾          6      10
一汽大众          6      12
江淮汽车          6      13
东风雪铁龙         6      12
长安汽车          6      10
华晨宝马          5       8
领克汽车          5       6
广汽三菱          4      18
北京奔驰          4       7
长安马自达         4      10
东风悦达起亚        4       4
吉利新能源         4       9
...         ...     ...
力帆汽车          2       2
汉腾汽车          2       4
北京汽车          2       7
华晨中华          2       5
奇瑞捷豹路虎        2       3
大众（进口）        2       7
雷克萨斯          2       2
奇瑞新能源         1       1
玛莎拉蒂          1       3
比亚迪           1       1
天津一汽          1       2
林肯（进口）        1       2
长安标致雪铁龙DS     1       2
观致汽车          1       2
一汽红旗          1       1
多士星           1       1
绵阳金杯          1       1
开瑞汽车          1       1
猎豹汽车          1       2
东风裕隆          1       2
沃尔沃（进口）       1       1
凯翼汽车          1       1
华晨鑫源          1       4
东风小康          1       1
奥迪（进口）        1       1
沃尔沃亚太         1       1
北汽新能源         1       3
北汽昌河          1       1
东风英菲尼迪        1       3
东风风行          1       2

[75 rows x 2 columns]

In [93]:
claimCount(['brand','car_model'])

                       投诉计数  投诉内容计数
brand     car_model
一汽-大众     T-ROC探歌         3       3
          宝来              2       2
          探岳             11      13
          迈腾             10      22
          速腾             22      33
          高尔夫             4       4
一汽-大众奥迪   奥迪A3            2       2
          奥迪A4L           7      13
          奥迪A6L           3       8
          奥迪Q3            4       5
          奥迪Q5            2       3
          奥迪Q5L           1       1
一汽丰田      RAV4荣放          3       4
          亚洲龙             3       3
          卡罗拉             2       3
          奕泽IZOA          1       4
          威驰              2       3
          锐志              1       2
一汽吉林      森雅R7            1       2
          森雅R9            1       2
一汽大众      捷达VS5           6      12
一汽奔腾      奔腾B30           1       1
          奔腾B50           2       3
          奔腾T77           2       5
          奔腾X40           1       1
一汽红旗      红旗HS5           1       1
一汽解放      柳特              1       1
          解放J6P           1       1
一汽马自达     阿特兹            75     152
          马自达CX-4        20      41
...                     ...     ...
江铃福特      领界              2       3
沃尔沃亚太     沃尔沃S60          1       1
沃尔沃（进口）   沃尔沃S60          1       1
猎豹汽车      猎豹CS10          1       2
玛莎拉蒂      Levante         1       3
福田汽车      时代金刚            1       1
          欧马可             1       1
绵阳金杯      智尚S30           1       1
观致汽车      观致5             1       2
长城汽车      WEY VV5         1       1
          哈弗H2            1       1
          哈弗H5            2       4
          哈弗H6 Coupe      2       3
          哈弗M6            2       4
          长城C30           2       5
          长城C50           1       1
长安标致雪铁龙DS DS5             1       2
长安汽车      悦翔              1       1
          睿骋              1       2
          睿骋CC            1       1
          长安CS75 PLUS     2       2
          长安欧尚X7          1       4
长安铃木      启悦              1       1
          维特拉             1       1
长安马自达     马自达3 昂克赛拉       3       8
          马自达CX-5         1       2
雷克萨斯      雷克萨斯CT          1       1
          雷克萨斯LS          1       1
领克汽车      领克01            3       4
          领克02            2       2

[213 rows x 2 columns]

In [94]:
#计算平均抱怨数
avgClaims=claimCount(['brand']).div(t2.groupby('brand')['car_model'].nunique(),axis=0)

In [97]:
#更改列名，并排序
avgClaims.columns=['品牌按车型投诉平均数', '品牌按车型投诉内容平均数']
avgClaims.sort_values(by='品牌按车型投诉平均数',ascending=False)

           品牌按车型投诉平均数  品牌按车型投诉内容平均数
一汽马自达       47.500000     96.500000
吉利汽车         9.600000     19.200000
一汽-大众        8.666667     12.833333
一汽大众         6.000000     12.000000
广汽丰田         5.666667      8.000000
上汽大众         3.600000      5.700000
东风日产         3.200000      6.000000
一汽-大众奥迪      3.166667      5.333333
广汽本田         3.000000      3.000000
东风雷诺         3.000000      5.000000
奇瑞汽车         2.800000      5.000000
北京现代         2.571429      5.714286
领克汽车         2.500000      3.000000
东风标致         2.166667      3.333333
上汽集团         2.142857      3.571429
华晨中华         2.000000      5.000000
长安马自达        2.000000      5.000000
东风悦达起亚       2.000000      2.000000
东风雪铁龙        2.000000      4.000000
一汽丰田         2.000000      3.166667
广汽三菱         2.000000      9.000000
上汽斯柯达        1.833333      3.666667
东风本田         1.750000      2.000000
华晨宝马         1.666667      2.666667
众泰汽车         1.625000      3.125000
长城汽车         1.571429      2.714286
南京依维柯        1.500000      3.500000
一汽奔腾         1.500000      2.500000
星途           1.500000      3.500000
江铃福特         1.500000      2.500000
...               ...           ...
绵阳金杯         1.000000      1.000000
观致汽车         1.000000      2.000000
东风英菲尼迪       1.000000      3.000000
长安标致雪铁龙DS    1.000000      2.000000
长安铃木         1.000000      1.000000
东风小康         1.000000      1.000000
雷克萨斯         1.000000      1.000000
林肯（进口）       1.000000      2.000000
开瑞汽车         1.000000      1.000000
北汽昌河         1.000000      1.000000
奇瑞捷豹路虎       1.000000      1.500000
北京汽车         1.000000      3.500000
华晨鑫源         1.000000      4.000000
力帆汽车         1.000000      1.000000
一汽解放         1.000000      1.000000
一汽红旗         1.000000      1.000000
多士星          1.000000      1.000000
大众（进口）       1.000000      3.500000
天津一汽         1.000000      2.000000
奇瑞新能源        1.000000      1.000000
东风风行         1.000000      2.000000
东风乘用车        1.000000      2.000000
奔驰（进口）       1.000000      4.333333
奥迪（进口）       1.000000      1.000000
宝沃汽车         1.000000      1.500000
宝马（进口）       1.000000      1.500000
凯翼汽车         1.000000      1.000000
一汽吉林         1.000000      2.000000
广汽乘用车        1.000000      2.000000
东南汽车         1.000000      1.000000

[75 rows x 2 columns]